{{define "title"}} Home{{end}}
{{define "main"}}
<div>
  <h3>Change Password</h3>
{{range .Form.NonFieldErrors}}
  <div class="error">
    {{.}}
  </div>
  {{end}}

 <form method="post" action="/account/password/update" type="submit" novalidate>

    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <div>
      {{with .Form.FieldErrors.CurrentPassword}}
      <div class="error">
        {{.}}

      </div>
      {{end}}
    </div>
    <label for="OldPassword">Current Password</label>

    <input type='password' name='OldPassword'>
    <div>
      {{with .Form.FieldErrors.NewPassword}}
      <div class="error">
        {{.}}

      </div>
      {{end}}
    </div>

    <label for="NewPassword">New Password</label>

    <input type='password' name='NewPassword'>
    <div>
      {{with .Form.FieldErrors.ConfirmPassword}}
      <div class="error">
        {{.}}

      </div>
      {{end}}

    </div>
    <label for="ConfirmPassword">Confirm New Password</label>
    <input type='password' name='ConfirmPassword'>
    <button type="submit">Change Password</button>
  </form>
</div>
{{ end}}
