{{define "nav"}}
<nav>
  <div>
    
  <a href="/">HOME</a>
  <a href="/about">About</a>
  <a href="/snippet/create">Create Snippet</a>
  </div>
  <div>
    {{ if .IsAuthenticated}}
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <form action="/user/logout" method="POST">
    <button > Logout</button>  
      <a href="/account/view">Account</a>
      {{else}}
    <a href="/user/signup">Signup</a>
    <a href="/user/login">Login</a>
      {{end}}
    </form>
  </div>
</nav>
{{end}}
